section#filter-section a.yapifen-filter-title {
  font-family: "Montserrat", Sans-serif;
  font-size: 27px;
  color:#155588;
  padding: 0 32px;
  transition: all .25s;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -o-transition: all .25s;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

section#filter-section a.yapifen-filter-title.option-selector {
display: inline-block;
}

section#filter-section a.yapifen-filter-title.option-selector:hover {
  background-color:#155588;
  color:#fff !important;
  transition: all .25s;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -o-transition: all .25s;
  cursor: pointer;
  display: inline-block;
  padding: 0 32px;
}

section#filter-section .option-table {
    background: #155588;
    width: 81%;
    z-index: 200;
    color: #fff;
    margin: 0;
    box-shadow: 3px 3px 5px rgb(50 50 50 / 50%);
    padding: 32px 64px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    display: none;
    transition: 0.5s !important;
    top: 218px;
    position: absolute;
}


section#filter-section .option-table span.parent-title {
    border-bottom: 1px solid #fff;
    margin-bottom: 6px;
    text-align: left !important;
    width: 65% !important;
    padding-bottom: 10px;
    display: block;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

ul.term-items-list {
    margin-top: 20px;
    margin-left: 0px !important;
    list-style-type: none !important;
    padding-inline-start: 0px !important;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.option-table label {
  color:#fff !important;
}

.yapifen-filter-title {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #155588;
  font-size: 34px;
  font-weight: 600;
}

a {
  text-decoration: none !important;
}

span.parent-title li {
    list-style-type: none !important;
}

a#proje-turu-button.clicked {
    background-color: #155588;
    color: #fff !important;
}

a#proje-durumu-button.clicked {
    background-color: #155588;
    color: #fff !important;
}

#table-area thead {
    background: #155588 !important;
}

#table-area thead th {
    color: #fff !important;
    text-transform: capitalize;
    font-size: 18px;
}

div#table-area {
    margin-top: 35px !important;
}

div#table-area td {
    margin-top: 16px !important;
}

.btn-area {
  margin-top: 35px;
}

.btn-area a {
  border: 0;
    float: right;
    font-size: 15px;
    margin: 24px 24px 0 0;
    line-height: 38px;
    height: 40px;
    color: #fff;
    background-color: #0090d0;
    width: 160px;
    text-align: center !important;
    font-weight: 500;
}

.btn-area a:hover {
  background-color: #fff;
  color: #155588;
}

.btn-area input#btn-apply {
  float: right !important;
  border: 0;
    float: right;
    font-size: 15px;
    margin: 24px 24px 0 0;
    line-height: 38px;
    height: 40px;
    color: #fff;
    background-color: #0090d0;
    width: 160px;
    text-align: center !important;
    font-weight: 500;
    border-radius: unset !important;
}

table.dataTable tbody tr a {
    color: #212529 !important;
    font-weight: 500;
}
